# Node modules
node_modules/
*/node_modules/

# Environment files
.env
.env.*
!.env.example

# Frontend specific
frontend/my-app/.env
frontend/my-app/.env.*
frontend/my-app/dist/

# Backend specific
backend/.env
backend/.env.*